! Configuração de exemplo - R1
! Laboratório CCNA Automation - Lab 6 Branches

# HOSTNAME: R1
!
interface GigabitEthernet0/0
 ip address 192.168.1.1 255.255.255.0
 no shutdown
!
router ospf 1
 network 192.168.1.0 0.0.0.255 area 0
!
end
